extends layout

block body
  div.navbar-wrapper
    div.container
      div.navbar.navbar-inverse.navbar-fixed-top
        div.container
          div.navbar-header
            button(type='button', data-toggle='collapse', data-target='.navbar-collapse').navbar-toggle
              span.icon-bar
              span.icon-bar
              span.icon-bar
            
            a(href='#').navbar-brand Dvisr - A Xero Add-on
            
          div.navbar-collapse.collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Home
              li
                a(href='#bi-explained') BI Explained
              li
                a(href='#xero') Xero
              //- li
                //- a(href='#contact') Contact
                    
  div#myCarousel.carousel.slide
    ol.carousel-indicators
      li(data-target='#myCarousel', data-slide-to='0').active
      li(data-target='#myCarousel', data-slide-to='1')   
    div.carousel-inner
      div.item.active
        img.xero(src='/images/xero/xero-logo-hires-RGB.png', alt='First slide')
        div.container
          div.carousel-caption
            h1 Business Intelligence
            p Dvisr - A Xero Add-on is Software as a Service (SaaS), also known as cloud computing. It's the way of the future. Welcome to the future!
            p 
              a(href='#bi-explained').btn.btn-large.btn-primary Learn more
     
      div.item
        img.xero(src='/images/xero/xero-logo-hires-RGB.png', alt='Second slide')
        div.container
          div.carousel-caption
            h1 Xero
            p Becoming a Xero partner was a no brainer. Now you can get accounting and business intelligence in one place: the cloud.
            p
              a(href='#xero').btn.btn-large.btn-primary Learn more
      
    a(href='#myCarousel', data-slide='prev').left.carousel-control
      span.glyphicon.glyphicon-chevron-left
      
    a(href='#myCarousel', data-slide='next').right.carousel-control
      span.glyphicon.glyphicon-chevron-right
      
  div.container

    div#bi-explained.row
      div.col-lg-4
        //- img.img-circle(src='', alt='Generic placeholder image')
        h2 Data
        p /ˈdeɪtə/
        p 
          em noun
        p
          ol
            li
              p facts and statistics collected together for reference or analysis.
              p.text-muted "there is too much data available"
              p.text-muted 
                em synonyms: 
                | facts, figures, statistics, details, particulars, specifics, features;
      div.col-lg-4
        //- img.img-circle(src='', alt='Generic placeholder image')
        h2 Knowledge
        p /ˈnɒlɪdʒ/
        p 
          em noun
        p
          ol
            li
              p facts, information, and skills acquired through experience or education; the theoretical or practical understanding of a subject.
              p.text-muted "a thirst for knowledge"
              p.text-muted 
                em synonyms: 
                | understanding, comprehension, grasp, grip, command, mastery, apprehension;
      div.col-lg-4 
        //- img.img-circle(src='', alt='Generic placeholder image')
        h2 Business Intelligence
        p /ˈdeɪtə/
        p 
          em noun
        p
          ol
            li
              p Business intelligence is a set of methodologies and technologies that transform raw data into meaningful and useful information for developing new business opportunities.
              p.text-muted "the future is bright and clear"
              p.text-muted 
                em synonyms: 
                | strategy, future, benefit, competition, edge, advantage, value, profit;
     
    hr.featurette-divider

    div#xero.row.featurette
      div.col-md-7
        h2.featurette-heading Xero. 
          span.text-muted All you need to run your business.
        p.lead Try the world's easiest accounting software and you'll see why so many people around the world love Xero
      
      div.col-md-5
        img.featurette-image.img-responsive(src='/images/xero/xero-logo-hires-RGB.png', alt='Generic placeholder image')
    
    hr.featurette-divider

    div.row.featurette
      div.col-md-5
        img.featurette-image.img-responsive(src='/images/xero/xero-logo-hires-RGB.png', alt='Generic placeholder image')
    
      div.col-md-7
        h2.featurette-heading Perfect parners. 
          span.text-muted Seamlessly integrated.
        p.lead Xero and Dvisr are integrated seamlessly meaning your sales data, purchase data, contacts and invoices are updated automatically and effortlessly - ready for instant reporting.
      
    hr.featurette-divider
 
    footer 
      p.pull-right 
        a(href='#') Back to top
      p &copy; 2013 Dvisr, Inc. &middot; 
        //- a(href='#') Privacy &middot; 
        //- a(href='#') Terms
    
  script(src='js/lib/jquery/jquery.js')
  script(src='js/lib/bootstrap-javascript/bootstrap.js')
  //-script(src='js/lib/angular/angular.js')
  //-script(src='js/app.js')
  //-script(src='js/services.js')
  //-script(src='js/controllers.js')
  //-script(src='js/filters.js')
  //-script(src='js/directives.js')