!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    base(href='/')
    title dvisr app
    link(rel='stylesheet', href='/js/lib/bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet', href='/css/carousel.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body